* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 13vh;
}

.header .icon img {
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.header .nav {
    position: absolute;
    right: 80px;
}

.header .nav .nav-bar-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header .nav .nav-bar-list .nav-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .nav .nav-bar-list .nav-element a {
    color: #31519C;
    font-weight: bold;
    text-decoration: none;
    transition: .5s ease;
}

.header .nav .nav-bar-list .nav-element a:hover {
    color: #a3a3a3;
    cursor: pointer;
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content-container .content {
    width: 100vw;
    height: auto;
}

.content-container .content .presentation {
    display: flex;
    align-items: center;
    height: 87vh;
    background-image: url("../images/Imagem2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container .content .presentation h1 {
    color: #ffffff;
    font-size: 80px;
    margin: 0 0 35px 40px;
}

.content-container .content .presentation .conhecer {
    margin-left: 90px;
    padding: 10px;
    border: #000000 2px solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #31519C;
    background-color: #ffffff;
    text-decoration: none;
    transition: .5s ease;
}

.content-container .content .presentation .conhecer:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px #1a3186;
    border: #ffffff 2px solid;
}

.content-container .content .presentation .contato {
    margin-left: 10px;
    padding: 10px;
    border: #ffffff 2px solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    transition: .5s ease;
}

.content-container .content .presentation .contato:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px #1a3186;
    background-color: #1a3186;
}

.content-container .content .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 60px;
}

.content-container .content .about .about-content .block1 {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: 50px;
}

.content-container .content .about .about-content .block1 .about-image img {
    width: 248px;
    height: auto;
    border-radius: 20px;
}

.content-container .content .about .about-content .block1 .about-text {
    width: 40vw;
    height: auto;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
}

.content-container .content .about .about-content .block1 .about-text span {
    color: #31519C;
}

.content-container .content .parcerias {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-container .content .parcerias .parcerias-content .parcerias-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 80px;
}

.content-container .content .parcerias .parcerias-content .parcerias-list li img {
    width: 10vw;
    height: auto;
}

.content-container .content .servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/FundoServicos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-container .content .servicos .servicos-content .title {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 90px;
}

.content-container .content .servicos .servicos-content .servicos-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container .content .servicos .servicos-content .servicos-list .servicos-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.content-container .content .servicos .servicos-content .servicos-list .servicos-list-item img {
    width: 247px;
    height: auto;
}

footer {
    background-color: #ffffff;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-section {
    flex: 1;
    padding: 20px;
}

.info-section h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.info-section ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.info-section ul li {
    margin-bottom: 10px;
}

.info-section ul li a {
    color: #31519C;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-section ul li a:hover {
    color: #1a3186;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #31519C;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #1a3186;
}

.info-softcams .emp-title,
.info-dev .dev-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.info-softcams p,
.info-dev p {
    margin: 10px 0;
    color: #666;
}

.info-softcams a,
.info-dev a {
    color: #31519C;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-softcams a:hover,
.info-dev a:hover {
    color: #1a3186;
}

@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
    }

    .info-section {
        padding: 10px;
    }
}
